#big-network .cls-1, #big-network .cls-2, #big-network .cls-3, #big-network .cls-4, #big-network .cls-5, #big-network .cls-6, #big-network .cls-7, #big-network .cls-8 {
  stroke-width: 0px;
}
#big-network .cls-1, #big-network .cls-9 {
  fill: #231f20;
}
#big-network .cls-10, #big-network .cls-11, #big-network .cls-12, #big-network .cls-13, #big-network .cls-14, #big-network .cls-15, #big-network .cls-16, #big-network .cls-17, #big-network .cls-18, #big-network .cls-19, #big-network .cls-20, #big-network .cls-21, #big-network .cls-22, #big-network .cls-23, #big-network .cls-9 {
  stroke-miterlimit: 10;
}
#big-network .cls-10, #big-network .cls-12, #big-network .cls-13, #big-network .cls-14, #big-network .cls-16, #big-network .cls-17, #big-network .cls-18, #big-network .cls-19, #big-network .cls-20, #big-network .cls-21, #big-network .cls-23, #big-network .cls-9 {
  stroke: #231f20;
}
#big-network .cls-10, #big-network .cls-12, #big-network .cls-13, #big-network .cls-15, #big-network .cls-18, #big-network .cls-19, #big-network .cls-20, #big-network .cls-21, #big-network .cls-9 {
  stroke-width: 4.6px;
}
#big-network .cls-10, #big-network .cls-17 {
  fill: #f5ec43;
}
#big-network .cls-2 {
  fill: #414042;
}
#big-network .cls-11 {
  stroke: #101416;
}
#big-network .cls-11, #big-network .cls-6, #big-network .cls-20, #big-network .cls-23 {
  fill: #fff;
}
#big-network .cls-11, #big-network .cls-23 {
  stroke-width: 4.6px;
}
#big-network .cls-12, #big-network .cls-15, #big-network .cls-22 {
  fill: none;
}
#big-network .cls-13 {
  fill: #b6a69e;
}
#big-network .cls-3, #big-network .cls-14, #big-network .cls-21 {
  fill: #a1cf6d;
}
#big-network .cls-14, #big-network .cls-17 {
  stroke-width: 4.6px;
}
#big-network .cls-4, #big-network .cls-18 {
  fill: #00b1dc;
}
#big-network .cls-5 {
  fill: #005ba7;
}
#big-network .cls-15 {
  stroke: #fff;
}
#big-network .cls-16 {
  fill: #0a0203;
}
#big-network .cls-19 {
  fill: #ad9282;
}
#big-network .cls-7 {
  fill: #0fa15c;
}
#big-network .cls-22 {
  stroke: #414042;
  stroke-width: 2px;
}
#big-network .cls-8 {
  fill: #101416;
}

@keyframes moveArrow {
  5%, 10% {
    transform: translateX(10px);
    opacity: 1;
  }
  15%, 100% {
    opacity: 0;
  }
}
@keyframes textAppear {
  0%, 20% {
    opacity: 0;
  }
  30%, 90% {
    opacity: 1;
  }
  0%, 100% {
    opacity: 0;
  }
}
@keyframes blackToBlueLine {
  0% {
    fill: black;
  }
  20%, 60% {
    fill: #0AFFED;
  }
  60%, 100% {
    fill: black;
  }
}
@keyframes blackToBlueLineDelayed {
  60%, 100% {
    fill: #0AFFED;
  }
}
@keyframes blackToBlueIcon {
  0% {
    stroke: black;
  }
  20%, 60% {
    stroke: #0AFFED;
  }
  60%, 100% {
    stroke: black;
  }
}
@keyframes blackToBlueIconDelayed {
  0%, 60% {
    stroke: black;
  }
  60%, 100% {
    stroke: #0AFFED;
  }
}
@keyframes networkSignal1 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  20%, 60% {
    opacity: 1;
    transform: translateY(0);
  }
  60%, 100% {
    opacity: 0;
  }
}
@keyframes networkSignal2 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  25%, 60% {
    opacity: 1;
    transform: translateY(0);
  }
  60%, 100% {
    opacity: 0;
  }
}
@keyframes networkSignal3 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  30%, 60% {
    opacity: 1;
    transform: translateY(0);
  }
  60%, 100% {
    opacity: 0;
  }
}
@keyframes networkSignal4 {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  40%, 60% {
    opacity: 1;
    transform: translateY(0);
  }
  60%, 100% {
    opacity: 0;
  }
}
@keyframes windowLight {
  0% {
    fill: white;
  }
  20%, 60% {
    fill: yellow;
  }
  60%, 100% {
    fill: white;
  }
}
#network-arrow {
  transform: translateX(-20px);
  animation: moveArrow 5s forwards infinite;
}

.poster__aside-text {
  animation: textAppear 5s ease-out infinite;
}

.network-line {
  animation: blackToBlueLine 5s forwards infinite;
}

.network-icon {
  animation: blackToBlueIcon 5s forwards infinite;
}

.network-iconToMan {
  animation: blackToBlueIconDelayed 5s forwards infinite;
}

.network-lineToMan {
  animation: blackToBlueLineDelayed 5s forwards infinite;
}

.network-signal1 {
  animation: networkSignal1 5s infinite;
}

.network-signal2 {
  animation: networkSignal2 5s infinite;
}

.network-signal3 {
  animation: networkSignal3 5s infinite;
}

.network-signal4 {
  animation: networkSignal4 5s infinite;
}

.building-windows {
  animation: windowLight 5s forwards infinite;
}

#network-man {
  transform: scale(0.9);
  transform-origin: center;
  animation: hiThere 5s ease infinite;
}

@keyframes hiThere {
  60%, 100% {
    transform: scale(1);
  }
}
#flame {
  position: absolute;
  top: 60px;
  right: 128px;
  width: 70px;
}
#flame .cls-1 {
  fill: #000;
}
#flame .cls-1, #flame .cls-2 {
  stroke-width: 0px;
}
#flame .cls-3 {
  fill: #f5ec43;
  stroke: #231f20;
  stroke-miterlimit: 10;
  stroke-width: 4.6px;
}
#flame .cls-2 {
  fill: #fff;
}

@keyframes flameShift {
  0%, 100% {
    d: path("M56.62,163.51c-28.74-6.31-69.63-30.59-48.45-61.13,10.94-14.07,32.98-17.63,38.61-36.31,5.43-16.22-4.46-23.7-19.68-24.62-7.79-4.81,10.69-13.04,15.49-12.08,25.12-1.91,22.52,26.03,33.77,27.1,33.41-8.99,5.46-31.15,16.63-47.51,3.05-5.86,16.68-11.52,10.79.07-4.81,13.07,10.95,15.97,14.85,26.11,1.43,7.29-5.76,25.35,9.2,15.66,9.64-4.95,2.68-19.79,11.34-23.09,11.91-.05,13.73,14.81,10.17,23.59-3.1,14.94,1.81,32.44-9.11,45.01-19.12,9.93-28,8.08-23.36,33.25.73,20.88-22.77,30.99-41.66,34.3-6.16,1.08-12.47.98-18.58-.36Z");
  }
  20% {
    transform: translateX(15px);
    d: path("M51.59,163.51c-26.82-5.76-54.47-26.27-48.46-61.13,3.03-17.56,58.11-35.93,38.61-36.31-14.59-.28.16-16.28-18.55-24.54-.92-.41-2.58-.34-2.56-1.35.4-16.2,12.88-12.78,16.92-10.81,25.18,12.32,27.83,20.18,34.54,11.09,10.9-14.78,4.69-15.13,15.86-31.5,3.05-5.86,16.68-11.52,10.79.07-4.81,13.07,10.95,15.97,14.85,26.11,1.43,7.29-5.76,25.35,9.2,15.66,9.64-4.95,2.68-19.79,11.34-23.09,11.91-.05,13.73,14.81,10.17,23.59-3.1,14.94,1.81,32.44-9.11,45.01-19.12,9.93-28,8.08-23.36,33.25.72,20.65-22.26,30.77-41.04,34.19-6.36,1.16-12.88,1.11-19.2-.25Z");
  }
  40% {
    transform: rotate(5deg) translateX(5px) scale(0.9);
    d: path("M55.37,167c-23.07-4.62-67.48-22.71-48.45-61.13,10.07-20.35,32.98-17.63,38.61-36.31,5.43-16.22-22.65-9.65-19.68-24.62,8.44-42.64,17.49-29.36,15.49-12.08-1.68,14.53,26.3,18,33.77,27.1,12.16,14.83,16.16-45.01,16.63-47.51,1.75-9.38,17-17.17,10.79.07-4.72,13.1,10.95,15.97,14.85,26.11,1.43,7.29-5.76,25.35,9.2,15.66,9.64-4.95,3.5-18.14,11.34-23.09,6.38-4.03,13.73,14.81,10.17,23.59-3.1,14.94-17.11,30.4-9.11,45.01,13.15,24.01-25.32,14.59-23.36,33.25,2.06,19.68-11.79,37.12-41.66,34.3-6.23-.59-12.44.87-18.58-.36Z");
  }
  70% {
    transform: scale(0.8);
    d: path("M55.37,167c-23.07-4.62-67.48-22.71-48.45-61.13,10.07-20.35,32.98-17.63,38.61-36.31,5.43-16.22-22.65-9.65-19.68-24.62,8.44-42.64,17.49-29.36,15.49-12.08-1.68,14.53,26.3,18,33.77,27.1,12.16,14.83,16.16-45.01,16.63-47.51,1.75-9.38,17-17.17,10.79.07-4.72,13.1,10.95,15.97,14.85,26.11,1.43,7.29-5.76,25.35,9.2,15.66,9.64-4.95,3.5-18.14,11.34-23.09,6.38-4.03,13.73,14.81,10.17,23.59-3.1,14.94-17.11,30.4-9.11,45.01,13.15,24.01-25.32,14.59-23.36,33.25,2.06,19.68-11.79,37.12-41.66,34.3-6.23-.59-12.44.87-18.58-.36Z");
  }
  90% {
    transform: translateY(10px);
    d: path("M55.06,157.36c-18.7-3.9-67.43-18.1-48.45-61.13,8.86-20.11,21.85-12.03,11.27-37.89-6.94-16.96,26.77,17.26,7.65-23.04-3.11-6.55-4.97-30.71,15.49-12.08,10.81,9.85,22.52,26.03,33.77,27.1,33.41-8.99,9.86-12.44,21.02-28.8,3.05-5.86-1.16-22.57,6.39-18.63,12.35,6.43,10.92,22.51,14.82,32.65,1.43,7.29-5.73,18.81,9.24,9.12,9.64-4.95,2.68-12.33,11.01-16.4,28.52-13.93,14.06,8.12,10.5,16.9-3.1,14.94-3.35,29.39-9.11,45.01-6.78,18.36-25.32,14.59-23.36,33.25,2.06,19.68-11.79,37.12-41.66,34.3-6.23-.59-12.45.92-18.58-.36Z");
  }
}
#flame-base {
  transform-origin: center;
  animation: flameShift 0.8s infinite;
}

#cloud {
  position: absolute;
  width: 80px;
  bottom: 40px;
  left: 0;
  margin: 0 32px;
}
#cloud .cls-1 {
  fill: #231f20;
}
#cloud .cls-1,
#cloud .cls-2,
#cloud .cls-3 {
  stroke-width: 0px;
}
#cloud .cls-4 {
  fill: #dcddde;
}
#cloud .cls-4,
#cloud .cls-5 {
  stroke: #231f20;
  stroke-miterlimit: 10;
  stroke-width: 4.6px;
}
#cloud .cls-2 {
  fill: #f3f4f4;
}
#cloud .cls-5 {
  fill: #daedf4;
}
#cloud .cls-3 {
  fill: #fff;
}

@keyframes cryAnimation {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}
@keyframes cryAnimationFadeIn {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    transform: translateY(100%);
  }
}
.tear {
  animation: cryAnimation 1.6s ease-in infinite;
}

.tear-fade {
  animation: cryAnimationFadeIn 1.6s ease-in infinite;
}

@keyframes cloudUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.cloud-base {
  animation: cloudUpDown 3s infinite alternate;
}

@keyframes waveAnimation {
  0% {
    d: path("M1698.78,152.01c-116.91,139.87-307.05,213.49-486.84,215.77-149.04.58-288.69-57.54-434.59-80.44-215.93-33.89-544.91,64.97-694.83-111.94h0C41.76,127.65,16.05,62.43,0,0c0,43.54,0,113.59,0,156.96,17.34,53.09,42.74,104.91,83.57,143.94h0c44.63,42.68,104.49,65.42,164.27,77.67h0c84.08,17.18,171.55,16.25,256.6,25.42,199.51,15.71,355.12,150.59,509.81,263.75h0c193.91,158.79,491.9,226.21,697.87,52.18-.01-189.97,0-395.82,0-585.81-4.26,6.09-8.72,12.05-13.35,17.9Z");
  }
  50% {
    d: path("M1698.78,152.01c-116.91,139.87-313.99,107.21-486.84,215.77-117.3,73.67-310.45-.43-434.59-80.44-197.67-127.4-544.91,64.97-694.83-111.94h0C41.76,127.65,16.05,62.43,0,0c0,43.54,0,113.59,0,156.96,17.34,53.09,42.74,104.91,83.57,143.94h0c44.63,42.68,104.49,65.42,164.27,77.67h0c84.08,17.18,171.55,16.25,256.6,25.42,199.51,15.71,355.12,150.59,509.81,263.75h0c193.91,158.79,491.9,226.21,697.87,52.18-.01-189.97,0-395.82,0-585.81-4.26,6.09-8.72,12.05-13.35,17.9Z");
  }
  100% {
    d: path("M1698.78,152.01c-116.91,139.87-366.62,95.55-486.84,215.77-113.06,113.06-328.53,22.33-434.59-80.44C535.81,53.28,232.44,352.3,82.52,175.39h0C41.76,127.65,16.05,62.43,0,0c0,43.54,0,113.59,0,156.96,17.34,53.09,42.74,104.91,83.57,143.94h0c44.63,42.68,104.49,65.42,164.27,77.67h0c84.08,17.18,171.55,16.25,256.6,25.42,199.51,15.71,355.12,150.59,509.81,263.75h0c193.91,158.79,491.9,226.21,697.87,52.18-.01-189.97,0-395.82,0-585.81-4.26,6.09-8.72,12.05-13.35,17.9Z");
  }
}
.wave {
  animation: waveAnimation 1.5s linear infinite alternate;
}

@keyframes bubblePop {
  0% {
    r: var(--initial-radius);
  }
  80% {
    r: var(--initial-radius);
  }
  100% {
    r: 0;
  }
}
@keyframes moveUp {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-20px);
  }
}
.moveUp {
  animation: moveUp 1s forwards infinite, bubblePop 1s linear infinite;
}

@keyframes moveUpHigher {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
  }
}
@keyframes moveUpShorter {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.moveUpHigher {
  animation: moveUpHigher 1.2s forwards infinite, bubblePop 1.2s linear infinite;
}

.moveUpShorter {
  animation: moveUpShorter 1.2s forwards infinite, bubblePop 1.2s linear infinite;
}

@keyframes rotateEarth {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
#earth-main {
  animation: rotateEarth 5s linear infinite;
}

#earth-bubble .cls-1 {
  fill: #231f20;
}
#earth-bubble .cls-1, #earth-bubble .cls-2, #earth-bubble .cls-3, #earth-bubble .cls-4 {
  stroke-width: 0px;
}
#earth-bubble .cls-2 {
  fill: #ede9ba;
}
#earth-bubble .cls-3 {
  fill: #c1be67;
}
#earth-bubble .cls-4 {
  fill: #c76d61;
}
#earth-bubble .cls-5 {
  fill: none;
}
#earth-bubble .cls-5, #earth-bubble .cls-6, #earth-bubble .cls-7, #earth-bubble .cls-8 {
  stroke: #231f20;
  stroke-miterlimit: 10;
}
#earth-bubble .cls-5, #earth-bubble .cls-8 {
  stroke-width: 4.6px;
}
#earth-bubble .cls-6 {
  stroke-width: 4.6px;
}
#earth-bubble .cls-6, #earth-bubble .cls-8 {
  fill: #fff;
}
#earth-bubble .cls-7 {
  fill: #79a7b6;
  stroke-width: 2px;
}

@keyframes showDot1 {
  0%, 30% {
    opacity: 0;
  }
  31%, 95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showDot2 {
  0%, 25% {
    opacity: 0;
  }
  26%, 95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showDot3 {
  0%, 20% {
    opacity: 0;
  }
  21%, 95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes showThinkingCloud {
  0%, 35% {
    opacity: 0;
  }
  36%, 95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#thinking-dot1 {
  animation: showDot1 7s infinite;
}

#thinking-dot2 {
  animation: showDot2 7s infinite;
}

#thinking-dot3 {
  animation: showDot3 7s infinite;
}

#thinking-bubble {
  animation: showThinkingCloud 7s ease-in-out infinite;
}

.sun-container {
  position: absolute;
  left: 120px;
  bottom: 250px;
  width: 220px;
  animation: updown 5s infinite alternate;
}

.sun-body {
  position: absolute;
  width: 50%;
}

.sun-rays {
  width: 50%;
  position: absolute;
  animation: spin 50s infinite;
  transform-origin: center;
}

@keyframes spin {
  0% {
    transform: rotate(360deg);
  }
}
@keyframes updown {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(30px);
  }
}
.moneybag {
  position: absolute;
  left: 280px;
  bottom: 55px;
  width: 10%;
  animation: updown 3s infinite alternate ease-in-out;
}
.moneybag .cls-1 {
  fill: #efe77f;
}
.moneybag .cls-1, .moneybag .cls-2, .moneybag .cls-3 {
  stroke: #231f20;
  stroke-miterlimit: 10;
  stroke-width: 4.6px;
}
.moneybag .cls-2 {
  fill: #ede6a1;
}
.moneybag .cls-3 {
  fill: #fff;
}

@keyframes flapLeft {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
  }
}
@keyframes flapRight {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}
@keyframes upDown {
  0% {
    transform: translateY(100px);
  }
  50% {
    transform: translateY(130px);
  }
}
.money-bag {
  animation: upDown 3s ease-in-out infinite alternate;
}

.left-wing {
  transform-origin: left;
  animation: flapLeft 0.3s ease-in-out infinite alternate;
  transform: translate(30px);
}

.right-wing {
  transform-origin: right;
  animation: flapRight 0.3s ease-in-out infinite alternate;
  transform: translateX(-30px);
}

#gasClouds {
  position: absolute;
  width: 30%;
  left: 162px;
  top: 30px;
}

.gasCloudOne .cls-1, .gasCloudOne .cls-3, .gasCloudOne .cls-4, .gasCloudTwo .cls-1, .gasCloudTwo .cls-3, .gasCloudTwo .cls-4, .gasCloudThree .cls-1, .gasCloudThree .cls-3, .gasCloudThree .cls-4, .gasCloudFour .cls-1, .gasCloudFour .cls-3, .gasCloudFour .cls-4, .gasCloudFive .cls-1, .gasCloudFive .cls-3, .gasCloudFive .cls-4 {
  stroke-width: 0px;
}
.gasCloudOne .cls-2, .gasCloudOne .cls-5, .gasCloudTwo .cls-2, .gasCloudTwo .cls-5, .gasCloudThree .cls-2, .gasCloudThree .cls-5, .gasCloudFour .cls-2, .gasCloudFour .cls-5, .gasCloudFive .cls-2, .gasCloudFive .cls-5 {
  stroke: #231f20;
  stroke-miterlimit: 10;
}
.gasCloudOne .cls-3, .gasCloudTwo .cls-3, .gasCloudThree .cls-3, .gasCloudFour .cls-3, .gasCloudFive .cls-3 {
  fill: #231f20;
}
.gasCloudOne .cls-4, .gasCloudTwo .cls-4, .gasCloudThree .cls-4, .gasCloudFour .cls-4, .gasCloudFive .cls-4 {
  fill: #a1cf6d;
}
.gasCloudOne .cls-5, .gasCloudTwo .cls-5, .gasCloudThree .cls-5, .gasCloudFour .cls-5, .gasCloudFive .cls-5 {
  fill: #fff;
  stroke-width: 4.6px;
}

.gasCloudOne {
  animation: moveAroundOne 8s infinite alternate;
  animation-timing-function: ease-in-out;
}

.gasCloudOneBody {
  transform-origin: 85% 65%;
  animation: cloud-behaviorOne 3s infinite alternate;
  animation-timing-function: ease-in-out;
}

@keyframes moveAroundOne {
  0% {
    transform: translate(-5px, 7px);
  }
  50% {
    transform: translate(-30px, 3px);
  }
  100% {
    transform: translate(21px, 7px);
  }
}
@keyframes cloud-behaviorOne {
  0% {
    transform: scale(0.9) rotate(0deg);
  }
  50% {
    transform: scale(1) rotate(20deg);
  }
  100% {
    transform: scale(0.85);
  }
}
.gasCloudTwo {
  animation: moveAroundTwo 5s infinite alternate;
  animation-timing-function: ease-in-out;
}

.gasCloudTwoBody {
  transform-origin: 35% 20%;
  animation: cloud-behaviorTwo 2s infinite alternate;
  animation-timing-function: ease-in-out;
}

@keyframes moveAroundTwo {
  0% {
    transform: translate(-15px, 15px);
  }
  25% {
    transform: translate(0px, 7px);
  }
  50% {
    transform: translate(4px, -3px);
  }
  75% {
    transform: translate(4px, 9px);
  }
  100% {
    transform: translate(5px, 14px);
  }
}
@keyframes cloud-behaviorTwo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85) rotate(5deg);
  }
  100% {
    transform: scale(0.9);
  }
}
.gasCloudThree {
  animation: moveAroundThree 2s infinite alternate;
  animation-timing-function: ease-in-out;
}

.gasCloudThreeBody {
  animation: cloudBehaviorThree 4s infinite alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 10% 35%;
}

@keyframes moveAroundThree {
  0% {
    transform: translate(4px, 7px);
  }
  50% {
    transform: translate(7px, -2px);
  }
  100% {
    transform: translate(18px, -4px);
  }
}
@keyframes cloudBehaviorThree {
  0% {
    transform: rotate(20deg) scale(1.2);
  }
}
.gasCloudFour {
  animation: moveAroundFour 6s infinite alternate;
  animation-timing-function: ease-in-out;
}

.gasCloudFourBody {
  animation: cloudBehaviorFour 2s infinite alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 45% 85%;
}

@keyframes moveAroundFour {
  0% {
    transform: translate(-15px, -2px);
  }
  25% {
    transform: translate(0px, -7px);
  }
  50% {
    transform: translate(4px, -3px);
  }
  75% {
    transform: translate(4px, -9px);
  }
  100% {
    transform: translate(5px, -3px);
  }
}
@keyframes cloudBehaviorFour {
  0% {
    transform: rotate(40deg);
  }
  50% {
    transform: rotate(-20deg) scale(0.9);
  }
}
.gasCloudFive {
  animation: moveAroundFive 3s infinite alternate;
  animation-timing-function: ease-in-out;
}

.gasCloudFiveBody {
  animation: cloudBehaviorFive 2s infinite alternate;
  animation-timing-function: ease-in-out;
  transform-origin: 50% 40%;
}

@keyframes moveAroundFive {
  0% {
    transform: translate(5px, -15px);
  }
  25% {
    transform: translate(-5px, -7px);
  }
  50% {
    transform: translate(0px, 5px);
  }
  75% {
    transform: translate(4px, 9px);
  }
  100% {
    transform: translate(5px, 14px);
  }
}
@keyframes cloudBehaviorFive {
  0% {
    transform: rotate(-20deg) scale(1.1);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-5deg) scale(1.1);
  }
}
.arrow-wiggly {
  stroke: #231f20;
  stroke-miterlimit: 10;
  stroke-width: 4.6px;
}

#arrow-wiggly1 {
  position: absolute;
  width: 38px;
  top: -48px;
  right: 115px;
}

#arrow-wiggly2 {
  position: absolute;
  width: 102px;
  top: 50px;
  right: 220px;
}/*# sourceMappingURL=animations.css.map */