@use "colors.scss";
@use "animations.scss";

// variables
$padding: 32px;

// fonts
@font-face {
  font-family:'Marydale';
  src: url('../fonts/Marydale Regular.ttf') format('truetype'), url('fonts/Marydale Regular.woff') format('woff');
}

@font-face {
  font-family:'Marydale Bold';
  src: url('../fonts/Marydale Bold.ttf') format('truetype'), url('fonts/Marydale Bold.woff') format('woff');
  }

  @font-face {
    font-family:'Marydale Black';
    src: url('../fonts/Marydale Black.ttf') format('truetype'), url('fonts/Marydale Black.woff') format('woff');
  } 


// default styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 100px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
}

p,
h2 {
  font-size: 14px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

ul {
  display: block;
  list-style-position: inside;
}

.center {
  display: flex;
  justify-content: center;
}

.keyword {
  font-family: 'Open Sans', 'Ariel';
  font-size: 1.1rem;
  font-weight: 800;
}

// positioning of the svg curves for the background
.curve {
  position: absolute;
  left: 0;

  &--blue {
    top: -24%;
    z-index: -1;
  }

  &--white {
    top: -15%;
    z-index: -3;
  }

  &--pink {
    bottom: 40px;
    z-index: -2;

    &-path {
      fill: none;
      top: 220px;
      z-index: 5;
    }
  }

  path {
    stroke-width: 0px;
  }
}

.bubble {
  width: 100%;
  height: 200px;
  filter: url(#blur);
}

// basing the height and width on the artboard of the poster in Illustrator
.poster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 841px;
  width: 594px;
  background-color: colors.$sky-blue;
  z-index: -4;
}

// to override the specificiy of 'p'
.text--small {

  p,
  span,
  a,
  li {
    font-size: 10px;
  }
}

.poster__info-text {
  font-size: 0.7rem;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.1;
  max-width: 27ch; // changing the maximum characters on a line to make the paragraphs smaller
}

.poster__info-text--first,
.poster__info-text--second {
  position: absolute;
  padding-left: $padding;
}

.poster__info-text--first {
  top: 150px;
}

.poster__info-text--second {
  top: 50px;
}

.poster__header {
  position: relative;
  top: 0;
  left: 0;
  height: 40%;
  width: 100%;

  &-text {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: absolute;
    top: 2px;
    padding: $padding 26px 0 $padding;
    width: 100%;

    .poster__headline {
      h1 {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-weight: 800;
        font-size: 1.55rem;
        color: colors.$dark-blue;
        line-height: 1;
        width: 200px;
        word-wrap: break-word; // to get the h1 to span two lines
        margin-bottom: 9px;

        span {
          color: colors.$green;
        }
      }

      &-intro {
        font-family: 'Marydale Bold';
        font-size: 0.78rem;
      }
    }
  }

  .poster__aside-text {
    position: absolute;
    top: 195px;
    width: 18ch;
    padding-left: $padding;
    p {
      font-family: 'Marydale Bold';
    }
  }
}

.big-network {
  position: absolute;
  width: 100%;
  top: 1px;
}

.poster__bottom {
  position: relative;
  bottom: 0;
  left: 0;
  height: 60%;
}

// the text section about "energy"
.poster__energy {
  color: colors.$white;

  &-headline {
    position: absolute;
    top: 110px;
    left: 160px;

    h2 {
      font-family: 'Marydale Bold';
    }

    &--top {
      display: block;
    }

    &--bottom {
      display: block;
      margin-left: 80px;
    }
  }

  &-table {
    display: flex;
    position: absolute;
    top: 160px;
    right: 0;
    padding-right: $padding;
    font-family: 'Marydale';

    // "draw" with CSS learnt from class to make a slighly bent line
    &::before {
      content: "";
      position: absolute;
      border-top: 3px solid white;
      border-radius: 2px;
      right: 87px;
      top: 20%;
      width: 150px;
      transform: rotate(-0.9deg);
    }

    &::after {
      content: "";
      position: absolute;
      border-top: 3px solid white;
      border-radius: 2px;
      right: 28px;
      top: 20%;
      width: 61.5px;
      transform: rotate(2.3deg);
    }

    h3 {
      font-size: 10px;
      font-family: 'Marydale Bold';
      margin-bottom: 10px;
    }

    &--right {
      padding-right: 10px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 100px;
        border-left: 3px solid white;
        border-radius: 1px;
        height: 140%;
      }

      ul {
        padding-right: 50px;
      }
    }
  }
}

// the small text section about "gas"
.poster__gas-info {
  display: flex;
  align-items: center;
  position: absolute;
  top: 230px;
  padding-left: $padding;

  &--left,
  &--right {
    display: block;
  }

  &--left {
    display: flex;
    position: relative;
    max-width: 20ch;
    font-family: 'Marydale Black';
    font-size: 12px;

    span {
      padding-top: 5px;
    }

    img {
      width: 20px;
    }
  }

  &--right {
    font-family: 'Marydale Bold';
  }
}

.poster__facts {
  width: 100%;
  height: 275px;
  position: absolute;
  bottom: 40px;
}

.poster__facts-text {
  position: absolute;
  width: 12ch;

  p {
    font-family: 'Marydale Bold';
    font-size: 10px;
  }

  h2 {
    font-family: 'Marydale Black';
    font-size: 11px;
  }
}

.fact {
  &1 {
    top: 35px;
    left: 200px;
  }

  &2 {
    left: 325px;
  }

  &3 {
    right: $padding;
    top: 28px;

    h2 {
      width: 10ch;
    }
  }

  &4 {
    right: $padding;
    bottom: 92px;
    width: 17ch;
  }

  &5 {
    right: 150px;
    bottom: 20px;
  }

  &6 {
    left: 120px;
    bottom: 20px;
  }

  &7 {
    padding-left: $padding;
    top: 115px;

    p {
      width: 15ch;
    }

    h2 {
      width: 20ch;
    }
  }
}

// styling to make the two svg elements become one unit
// a less optimal way...
#earth {
  position: absolute;
  bottom: 110px;
  right: 120px;
}

#earth-container {
  position: relative;
  width: 198px;
}

#earth-main {
  max-width: 130px;
  margin-right: 5px;
}

#earth-bubble {
  max-width: 68px;
  position: absolute;
  top: -15px;
}

.qr-code {
  position: absolute;
  max-width: 80px;
  bottom: 40px;
  right: 0;
  margin: 5px;
}

.poster__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: colors.$dark-blue;
  height: 40px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: colors.$white;
  padding: 0 $padding;
  font-size: 8px;
  white-space: nowrap;
  font-family: 'Marydale';

  &-logo {
    width: 175px;
    padding-right: 5px;
  }

  &-download {
    text-align: right;
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 0 8px;

    span,
    a {
      display: block;
      text-align: right;
    }

    a {
      text-decoration: none;
      color: colors.$white;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      border-top: 3px solid white;
      border-radius: 2px;
      top: 40%;
      width: 30px;
      transform: rotate(90deg);
    }

    &::before {
      left: -20px;
    }

    &::after {
      right: -20px;
    }
  }

  &-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
}

@media (width <=800px) {
  body {
    padding: 0;
  }
}

@media (width <=600px) {
  body {
    padding: 0;
  }

  .center {
    display: block;
    justify-content: initial;
  }
}