@use "colors.scss";
@use "animations.scss";

// variables
$padding: 32px;

// default styling
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 50px 100px;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: -0.5px;
}

p,
h2 {
  font-size: 14px;
}

ul {
  display: block;
  list-style-position: inside;
}

.center {
  display: flex;
  justify-content: center;
}

.keyword {
  font-size: 1.2rem;
}

// positioning of the .svg curves for the background
.curve {
  position: absolute;
  left: 0;

  &--blue {
    top: -2%;
    z-index: -1;
  }

  &--white {
    top: 8%;
    z-index: -3;
  }

  &--pink {
    bottom: 0;
    z-index: -2;
  }

  path {
    stroke-width: 0px;
  }
}

.bubble {
  width: 100%;
  height: 200px;
  filter: url(#blur);
}

// basing the height and width on the artboard of the poster in Illustrator
.poster {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 841px;
  width: 594px;
  background-color: colors.$sky-blue;
  z-index: -4;
}

  // to override the specificiy of 'p'
  .text--small {
    p, span, a, li {
      font-size: 10px;
    }
  }

.poster__info-text {
  font-size: 1rem;
  max-width: 20ch; // changing the maximum characters on a line to make the paragraphs smaller
}

.poster__info-text--first,
.poster__info-text--second {
  position: absolute;
  padding-left: $padding;
}

.poster__info-text--first {
  top: 150px;
}

.poster__info-text--second {
  top: 50px;
}

.poster__header {
  position: relative;
  top: 0;
  left: 0;
  height: 30%;
  width: 100%;

  &-text {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: absolute;
    top: 2px;
    padding: $padding;
    width: 100%;

    .poster__headline {
      h1 {
        font-size: 1.6rem;
        line-height: 1;
        width: 200px;
        word-wrap: break-word; // to get the h1 to span two lines
        margin-bottom: 5px;
      }

      &-intro {
        font-size: 0.85rem;
      }
    }
  }

  .poster__aside-text {
    position: absolute;
    bottom: 20px;
    max-width: 19ch;
    padding-left: $padding;
  }
}

.big-network {
  position: absolute;
  width: 100%;
  top: 1px;
}

.poster__bottom {
  position: relative;
  bottom: 0;
  left: 0;
  height: 70%;
}

// the text section about "energy"
.poster__energy {
  color: colors.$white;

  &-headline {
    position: absolute;
    top: 110px;
    left: 160px;

    &--top {
      display: block;
    }

    &--bottom {
      display: block;
      margin-left: 80px;
    }
  }

  &-table {
    display: flex;
    position: absolute;
    top: 160px;
    right: 0;
    padding-right: $padding;

    // "draw" with CSS learnt from class to make a slighly bent line
    &::before {
      content: "";
      position: absolute;
      border-top: 3px solid white;
      border-radius: 2px;
      right: 87px;
      top: 20%;
      width: 150px;
      transform: rotate(-0.9deg);
    }

    &::after {
      content: "";
      position: absolute;
      border-top: 3px solid white;
      border-radius: 2px;
      right: 28px;
      top: 20%;
      width: 61.5px;
      transform: rotate(2.3deg);
    }

    h3 {
      font-size: 10px;
      margin-bottom: 10px;
    }

    &--right {
      padding-right: 10px;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 100px;
        border-left: 3px solid white;
        border-radius: 1px;
        height: 140%;
      }

      ul {
        padding-right: 50px;
      }
    }
  }
}

// the small text section about "gas"
.poster__gas-info {
  display: flex;
  align-items: center;
  position: absolute;
  top: 230px;
  padding-left: $padding;

  &--left,
  &--right {
    display: block;
  }

  &--left {
    display: flex;
    position: relative;
    max-width: 20ch;
    font-size: 12px;

    span {
      padding-top: 5px;
    }

    img {
      width: 20px;
    }
  }
}

.poster__facts {
  width: 100%;
  height: 275px;
  position: absolute;
  bottom: 40px;
}

.poster__facts-text {
  position: absolute;
  width: 12ch;
  padding-left: $padding;

  p {
    font-size: 10px;
  }

  h2 {
    font-size: 11px;
  }
}

.fact {
  &1 {
    top: 35px;
    left: 200px;
  }

  &2 {
    left: 325px;
  }

  &3 {
    right: $padding;
    top: 28px;

    h2 {
     width: 10ch;
    }
  }

  &4 {
   right: $padding;
    bottom: 92px;
    width: 17ch;
  }

  &5 {
    right: 150px;
    bottom: 20px;
  }

  &6 {
    left: 120px;
    bottom: 20px;
  }

  &7 {
    padding-left: $padding;
    top: 115px;

    p {
    width: 15ch;
    }

    h2 {
    width: 20ch;
    }
  }
}

.qr-code {
  position: absolute;
  max-width: 80px;
  bottom: 40px;
  right: 0;
  margin: 5px;
}

.poster__footer {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: colors.$dark-blue;
  height: 40px;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: colors.$white;
  padding: 0 $padding;
  font-size: 8px;
  white-space: nowrap;

  &-logo {
    width: 175px;
    padding-right: 5px;
  }

  &-download {
      text-align: right;
      display: flex;
      position: relative;
      flex-direction: column;
      padding: 0 8px;

      span, a {
        display: block;
        text-align: right;
      }

      a {
        text-decoration: none;
        color: colors.$white;
      }

      &::before, &::after {
        content: "";
        position: absolute;
        border-top: 3px solid white;
        border-radius: 2px;
        top: 40%;
        width: 30px;
        transform: rotate(90deg);
      }
  
      &::before {
        left: -20px;
      }
      
      &::after {
        right: -20px;
      }
  }

  &-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }
}

@media (width <= 600px) {
  body {
    padding: 0;
  }

  .center {
    display: block;
    justify-content: initial;
  }
}